/Hibernate/probandoHibernateLuis/nbproject/private/
/Hibernate/probandoHibernateLuis/build/
/Hibernate/probandoHibernateLuis/dist/
/Hibernate/ejemploCriaturitas/nbproject/private/
/Hibernate/ejemploCriaturitas/build/
/Hibernate/ejemploCriaturitas/dist/